[submodule "lib/lmic"]
	path = lib/lmic
	url = https://github.com/matthijskooijman/arduino-lmic
[submodule "bin/src/random-eui64"]
	path = bin/src/random-eui64
	url = https://github.com/things-nyc/random-eui64
